<!DOCTYPE html>
<div id="penguins"></div>
<a href="/simple">Aller à la page simple</a>
<a href="/penguinsFiltred">Aller à la page de filtrage</a>

<script>
import * as Plot from "@observablehq/plot";
import penguins from "../assets/penguins.json";

const plot = Plot.rectY(penguins, Plot.binX({y: "count"}, {x: "culmen_length_mm", fill: "purple"})).plot();
const div = document.querySelector("#penguins");
div!.append(plot);
</script>
