<!DOCTYPE html>
<div id="myplot"></div>
<a href="/">Retour à la page d'accueil</a>
<a href="/penguinsFiltred">Aller à la page de filtrage</a>

<script>
import * as Plot from "@observablehq/plot";

const plot = Plot.rectY({length: 10000}, Plot.binX({y: "count"}, {x: Math.random,fill: "steelblue"})).plot();
const div = document.querySelector("#myplot");
div!.append(plot);

</script>